.page {
  text-align: center;
  padding: 30px;
}

.form input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
}

.form button {
  background: #b30000;
  color: white;
  border: none;
  padding: 10px 20px;
}
