.navbar {
  background: #b30000;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.footer {
  text-align: center;
  background: #222;
  color: white;
  padding: 10px;
  margin-top: 40px;
}
